:root {
    /*FONT*/
    --font-Montserrat: 'Montserrat', sans-serif;

    /* COLORS */
    --bg-body: #C5C1C0;
    --bg-main-container: #FFFFFF;
    --bg-menu: #F5F5F5;
    --bg-button-color: #000;
    --bg-check-out: #F5F5F5;
    --bg-output: #FFFFFF;
    --color-button: #FFFBFE;
    --color-preco: #3A6C2B;
}
